@import url("base.css");
/*--------------------------------------------------
スマホで表示する場合
--------------------------------------------------*/
@media screen and (max-width: 480px) {
  /*
  フォーム
  -------------------------*/
  form {
    margin: 0 auto;
    width: 300px;
  }
  /*
  入力項目
  -------------------------*/
  input[type="text"] {
    width: 250px;
  }
  .input_form input {
    margin-bottom: 30px;
  }
  ::placeholder {
    font-size: 12px;
  }
}
/*--------------------------------------------------
PCで表示する場合
--------------------------------------------------*/
@media screen and (min-width: 480px) {
  /*
  フォーム
  -------------------------*/
  form {
    margin: 0 auto;
    width: 500px;
  }
  /*
  入力項目
  -------------------------*/
  input[type="text"] {
    width: 500px;
  }
  .input_form input {
    margin-bottom: 30px;
  }
  .name_container {
    /* 横並び */
    display: flex;
    justify-content: space-between;
  }
  .name input[type="text"],
  .postal input[type="text"] {
    width: 245px;
  }
}
/*--------------------------------------------------
スマホ・PC共通表示
--------------------------------------------------*/
/*
必須表示
-------------------------*/
abbr {
  text-decoration: none;
}
abbr::after {
  content: "必須";
  background: rgb(189, 19, 19);
  color: rgb(255, 255, 255);
  font-size: 10px;
  padding: 1px 3px;
  margin-left: 5px;
  vertical-align: middle;
  border-radius: 3px;
}
